*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
upc_a_products_2025_06.csv filter=lfs diff=lfs merge=lfs -text
